.wrapper {
  width: 350px;
}

.form {
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5px 10px;
}

.error {
  color: red;
}

.btn {
  max-width: 120px;
  padding: 7px;
  margin: 0 auto;
}
